hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.titulo_footer {
    font-family: var(--fonte-titulos);
    color: var(--azul-escuro);
}

.lista_rodape{
    display: none;
}

@media screen and (min-width: 1024px){
    .rodape{
        display: flex;
        justify-content: space-around;
    }

    .lista_rodape{
        display: block;
    }

    .rodape_item{
        display: flex;
        align-items: center;
        padding: 0.5em;
    }

    .lista_rodape_link{
        color: var(--cinza);
        font-family: var(--fonte-titulos);
        font-size: 14px;
        text-decoration: none;
        margin-left: 0.5em;
    }

    .lista_rodape_titulo{
        font-family: var(--fonte-titulos);
        font-size: 14px;
        color: var(--cinza-claro);
        margin: 2em 0 2em 0;
        text-transform: uppercase;
    }

    .titulo_footer{
        font-size: 24px;
        margin: 2em 0 2em 0;
    }
}

@media screen and (min-width: 1728px){
    .lista_rodape{
        border-left: 1px solid (var(--cinza-claro));
        padding: 1em;
    }

    .lista_rodape_link:hover{
        color: var(--laranja);
        
    }
}